<div class="container">
    <div class="separator-3"></div>

    <form >

        <div class="col-md-12 head" style="justify-content: center; text-align: center;">
            <div class="separator-2"></div>
            <img src="../../../assets/images/checked.png" style="width: 36px;" alt="">
            <div class="separator-2"></div>
            <h3>Felicidades! Has realizado tu registro con éxito</h3>
            <p>Hemos enviado un ticket a tu correo con los datos registrados.</p>
            <div class="separator-2"></div>
        </div>

  
    </form>
    <div class="separator-3"></div>




</div>
